*.local
*.log
*.orig
.#*
.DS_Store
.cache
.editorconfig
.eslintcache
.husky/
.idea
*.log
*.mmdb
.next
.npmrc
*.swp
.vim
.vercel
.vscode
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
coverage
node_modules
packages/**/build
packages/**/docs
packages/**/package-lock.json
packages/**/yarn.lock
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo
